name: Auto Deploy Laravel Vite

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install & Build Vite
        run: |
          npm install
          npm run build  # Ini akan membuat folder public/build

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/sensasio/sensasi
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan view:clear
            php artisan config:cache